doctype html

html
	head
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel="stylesheet", href="/css/style.css")
		title game
		script
			function draw() {
				let canvas = document.getElementById('Hi'),
					ctx = canvas.getContext('2d')
				canvas.width = 400
				canvas.heigth = 400
				ctx.font = '380px Arial'
				ctx.fillText('Hi', 10)
				ctx.strokeRect(0,canvas.width, canvas.heigth)

	body(onload="draw()")
		canvas(id="Hi") Reload browser			

		script(src="https://code.jquery.com/jquery-3.3.1.min.js") 

script(src="/js/bootstrap.js")
