doctype html

html
	head
		link(rel='stylesheet', href='/css/bootstrap.css')
		script.
			function draw(id) {
			    let canvas = document.getElementById(id),
					ctx = canvas.getContext('2d');
				canvas.width = 400;
				canvas.height = 400;
				ctx.font = '90px Arial';
				ctx.fillText(id, canvas.width/2-175, canvas.height/2);
				ctx.strokeRect(0, 0, canvas.width-10, canvas.height - 10);
			  }

		title game
	body(onload="draw('BOOOM')")
		canvas(id="BOOOM", width=350, height=350) Reload browser		

		script(src="https://code.jquery.com/jquery-3.3.1.min.js") 

script(src="/js/bootstrap.js")
